:root {
    /*  Pass color  */
    --first: #f65958;
    /*  strip colors */
    --stripone:#abf057 ;
    --striptwo: #a0ddd5; 
    --stripthree: #d4f4c2 ;


/* grayish-green #61ae63  */
/* light purple #c488c4  */
/* purple #bb89bd */
/* green #63ad61 */
/* French Blue #3683f6 */
/* Dark Gray #a1a1a1  */
/*  gray #979797 */
/* another light pink #f7c7cf */
/* Light Thulian Pink #f6c7cf  */
/* yellow #f6d836 */
/* red #f65d5d */
