:root {
    /*  Pass color  */
    --first: #fedb19 ;
    /*  strip colors */
    --stripone: #e065d2 ;
    --striptwo: #47f3c1;
    --stripthree: #1b5b02;
}

/* grayish-green #61ae63  */
/* light purple #c488c4  */
/* purple #bb89bd */
/* green #63ad61 */
/* French Blue #3683f6 */
/* Dark Gray #a1a1a1  */
/*  gray #979797 */
/* another light pink #f7c7cf */
/* Light Thulian Pink #f6c7cf  */
/* yellow #f6d836 */
/* red #f65d5d */
